.movie-form {
  height: 55px;
  padding: 5px;
  margin: 5px;
}

.search-field {
  padding: 5px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.87);
}

.search-button {
  height: 56px;
}

.search-results,
.nominees {
  background-color: #282c34;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 50px;
  color: lightgray;
  width: 45vw;
}

.movie-card {
  border: 1px solid blue;
  border-radius: 15px;
  margin: 10px 10px;
  height: 150px;
  width: 40vw;
  display: flex;
  color: white;
  padding: 10px;
  background-color: lightslategrey;
}

.movie-poster {
  width: 120px;
  height: 150px;
}

.movie-box {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.nominate-movie {
  height: 50px;
  width: 100px;
}

.movie-card button {
  height: 50px;
  border: none;
}
