.App {
  background-color: #282c34;
  text-align: center;
}

.nav-bar {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 p {
  margin: 15px;
}
